*{
    box-sizing: border-box; 
}

body {
    margin: 0; font-family: 'Segoe UI', sans-serif;
    background-color: #f4f7f6; color: #333;
}
.menu {
    background-color: #1e3c72;  padding: 15px 0;
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.2); 
}
.menu-container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.menu-logo{
    color: white; 
    text-decoration: none; 
    font-weight: bold; 
    font-size: 1.2rem; 
    text-transform: uppercase;
}
.lista {
    list-style: none; display: flex; gap: 20px;
    margin: 0; padding: 0;
}
.lista a{
    color: #CBDCF7;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    display: inline-block;
    transition:  0.3s ease, color 0.3s ease;
}

.lista a:hover{
    color: #ffffff;
    transform: scale(1.2);
}

.cabecalho {
    background-color: #2e4c82; color: white; padding: 60px 20px;
    text-align: center;
}
.cabecalho h1{
    font-size: 2.5rem; margin-bottom: 5px;
}
.cabecalho h2{
    font-weight: 500;
    font-style: normal;
    color: #b8d0f1; 
}
.missao-valores{
    /* -40px subiu auto embaixo e 40 Ã© na lateral */
    max-width: 900px; margin: -40px auto 40px; padding: 20px;
    background-color: white;
    box-shadow: 2px 10px 20px rgba(0,0,0,0.1); /* caixa com sombra */
    border-radius: 10px;
    
}
.objetivo{
    /* -40px subiu auto embaixo e 40 Ã© na lateral */
    max-width: 900px; margin: -10px auto 40px; padding: 20px;
    background-color: white;
    box-shadow: 2px 10px 20px rgba(0,0,0,0.1); /* caixa com sombra */
    border-radius: 10px;
}
.eventos{
    max-width: 900px; margin: -10px auto 40px; padding: 20px;
    background-color: white;
    box-shadow: 2px 10px 20px rgba(0,0,0,0.1); /* caixa com sombra */
    border-radius: 10px;
    display: flex;
    gap: 20px;
}
.card-evento{
    flex: auto;
    background: #e3ecfc;
    padding: 15px;
    border-radius: 8px;
    border-left: 4px solid #1e3c72;
    transition: all 0.3s ease;
}

.card-evento:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);

}
.horas-atividades{
    max-width: 900px; margin: -10px auto 40px; padding: 20px;
    background-color: white;
    box-shadow: 2px 10px 20px rgba(0,0,0,0.1); 
    border-radius: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.atividades{
    background-color: #e9f7ef;
    font-weight: bold;
    color: rgb(59, 212, 128);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
    transition:0.3s ease;
}

.atividades:hover{
    transform: scale(1.03);
}
.cabecalho-logo{
    width:120px;
    margin-bottom:20px;
}

.cabecalho h1{
    font-size:2.8rem;
    letter-spacing:1px;
}

.cabecalho h2{
    font-size:1.2rem;
}